@import "./container.css";
@import "./button-variations.css";

:root {
  /* Start Colors */
  --light-blue: #0dbbfc;
  --green: #65e4a3;
  --light-grey: #f1f1f1;
  --dark-blue: #0a2640;
  --grey-blue: #8fb6d5;
  --white: #ffffff;
  --gray: #777777;
  --circle-color: #1c3d5b;
  /* End Colors */

  /* Start Heading Sizes */
  --txt-xl: 36px;
  --txt-l: 28px;
  --txt-xxl: 48px;
  --txt-xxxl: 64px;
  /* End Heading Sizes */

  /* Start Paragraph Sizes */
  --txt-m: 24px;
  --txt-s: 20px;
  --txt-xs: 16px;
  /* End Paragraph Sizes */

  /* Start Section Padding */
  --section-padding: 60px;
  /* End Section Padding */

  /* Heading Font Family */
  --heading-font-family: "Manrope", sans-serif;
}

* {
  font-family: "Open Sans", sans-serif;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

/* Start Global Styles */
.circle {
  --d: 1293px;
  width: var(--d);
  height: var(--d);
  border-radius: 50%;
  background-color: var(--circle-color);
  position: absolute;
  top: -657px;
  right: -800px;
}
.sec-heading {
  text-align: center;
}
.sec-heading p {
  font-size: var(--txt-s);
  color: var(--gray);
}
.sec-heading h2 {
  font-size: var(--txt-xxl);
  font-family: var(--heading-font-family);
  font-weight: 400;
  max-width: 842px;
  margin-inline: auto;
  margin-top: 12px;
}
/* End Global Styles */

header {
  background-color: var(--dark-blue);
  min-height: 100vh;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

/* Start Navbar Styles */
nav.navbar {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 1;
}
nav.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav.navbar .container .links {
  display: flex;
  align-items: center;
  gap: 40px;
}
nav.navbar .container .links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 0;
}
nav.navbar .container .links ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: var(--txt-xs);
  font-weight: 600;
  transition: color 300ms linear;
}
nav.navbar .container .links ul li a:hover {
  color: var(--green);
}
nav.navbar .container .links button {
  color: var(--dark-blue);
  background-color: var(--white);
  border-color: var(--white);
}
nav.navbar .container .links button:hover {
  color: var(--white);
  background-color: transparent;
}
/* End Navbar Styles */

/* Start Hero Styles */
.hero {
  position: relative;
  z-index: 1;
  margin-block: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.hero .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hero .text-container h1 {
  color: var(--white);
  font-size: var(--txt-xxl);
  font-weight: 400;
  margin-bottom: 16px;
  font-family: var(--heading-font-family);
}
.hero .text-container p {
  color: var(--light-grey);
  font-size: var(--txt-xs);
  line-height: 28px;
  margin-bottom: 40px;
}
.hero .text-container .button-container {
  display: flex;
  gap: 20px;
  align-items: center;
}
.hero .text-container button.green {
  color: var(--dark-blue);
  background-color: var(--green);
  transition: background-color 300ms linear;
}
.hero .text-container button.green:hover {
  background-color: var(--grey-blue);
}
.hero .text-container button.outline {
  color: white;
  border-color: white;
  background-color: transparent;
  transition-property: color, border-color;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.hero .text-container button.outline:hover {
  color: var(--light-blue);
  border-color: var(--light-blue);
}
.hero .container.second {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
.hero .container.second::before {
  content: "";
  width: 60%;
  height: 60px;
  background-image: linear-gradient(to right, var(--dark-blue), transparent);
  position: absolute;
  left: -15px;
}
.hero .container.second::after {
  content: "";
  width: 60%;
  height: 60px;
  background-image: linear-gradient(to left, var(--dark-blue), transparent);
  position: absolute;
  right: -15px;
}
.hero .container.second img {
  width: 146.51px;
}
/* End Hero Styles */

/* Start Services Styles */
.services {
  padding-block: var(--section-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  margin-top: 80px;
}
.services .card h3 {
  font-size: var(--txt-m);
  font-weight: 400;
  margin-bottom: 12px;
  line-height: 36px;
}
.services .card p {
  margin-bottom: 28px;
  width: 300px;
  font-size: var(--txt-s);
  color: var(--gray);
  line-height: 32px;
  hyphens: auto;
}
.services .card button {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid var(--dark-blue);
  padding-inline: 0;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 164px;
  transition: width 300ms ease-in-out;
  font-size: 20px;
}
.services .card button:hover {
  width: 170px;
}
.services .container.two {
  margin-top: 185px;
}
.services .container.two,
.services .container.three {
  display: flex;
  gap: 150px;
  align-items: stretch;
}
.services .container.two .text,
.services .container.three .text {
  display: flex;
  flex-direction: column;
}
.services .container.two .text h2,
.services .container.three .text h2 {
  font-size: var(--txt-xl);
  font-weight: 400;
  font-family: var(--heading-font-family);
  margin-bottom: 40px;
  line-height: 50px;
}
.services .container.two .text ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.services .container.two .text ul li {
  font-size: var(--txt-s);
  background-image: url("../imgs/list-icon.svg");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 61px;
  line-height: 36px;
}
.services .container.two .text button {
  width: fit-content;
  margin-top: 56px;
  background-color: var(--dark-blue);
  color: var(--white);
}
.services .container.three {
  margin-top: 120px;
}
.services .container.three ul {
  list-style: none;
  margin-top: 64px;
  padding: 0;
}
.services .container.three ul li {
  height: 68px;
  width: 500px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 20px;
  border-radius: 4px;
}
.services .container.three ul li:nth-child(1) {
  background-color: var(--dark-blue);
  color: var(--white);
}
/* End Services Styles */

/* Start Testimonials Styles */
.testimonials {
  height: 797px;
  background-color: var(--dark-blue);
  padding-top: 98px;
}
.testimonials h2 {
  color: var(--white);
  font-size: var(--txt-xxl);
  font-weight: 400;
  font-family: var(--heading-font-family);
  max-width: 716px;
}
.testimonials .slider {
  position: relative;
}
.testimonials .slider .controllers {
  display: flex;
  gap: 28px;
  position: absolute;
  right: 0;
}
.testimonials .slider .controllers button {
  width: 72px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--dark-blue);
  font-size: 20px;
  cursor: pointer;
  font-size: var(--txt-l);
}
.testimonials .slider .slides-container {
  display: flex;
  position: relative;
  top: 100px;
  overflow-x: auto;
  height: fit-content;
  scroll-behavior: smooth;
}
.testimonials .slider .slides-container::-webkit-scrollbar {
  width: 0;
}
.testimonials .slider .slides-container .row {
  display: flex;
  gap: 20px;
  width: 100%;
}
.testimonials .slider .slides-container .row:last-child {
  margin-left: 20px;
}
.testimonials .slider .slides-container .slide {
  background-color: var(--white);
  padding: 40px;
  width: fit-content;
  width: 350px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  height: fit-content;
}
.testimonials .slider .slides-container .slide h3 {
  font-size: var(--txt-m);
  font-weight: 400;
  margin: 0;
  line-height: 36px;
  margin-bottom: 40px;
}
.testimonials .slider .slides-container .slide .author {
  display: flex;
  align-items: center;
  gap: 16px;
}
.testimonials .slider .slides-container .slide .author img {
  width: 58px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center top;
}
.testimonials .slider .slides-container .slide:nth-child(3) .author img {
  object-position: center bottom;
}
.testimonials .slider .slides-container .slide .author h4 {
  margin: 0;
  font-size: var(--txt-xs);
}
.testimonials .slider .slides-container .slide .author .text p {
  color: var(--dark-blue);
  font-size: 14px;
}
/* End Testimonials Styles */

/* Start FAQ's Styles */
.faqs {
  margin-top: 124px;
}
.faqs img {
  width: 100%;
}
.faqs h2 {
  font-size: var(--txt-xl);
  font-weight: 400;
  line-height: 56px;
  max-width: 500px;
}
.faqs .faqs-container {
  display: flex;
  gap: 100px;
  justify-content: space-between;
}
.faqs .questions {
  margin-top: 20px;
}
.faqs .questions ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
}
.faqs .questions ul li {
  background-image: url("../imgs/faqs-arrow.svg");
  background-repeat: no-repeat;
  line-height: 29px;
  background-position: 100%;
  padding-right: 55px;
  cursor: pointer;
}
/* End FAQ's Styles */

/* Start Blog Styles */
.blog {
  margin-top: 158px;
  height: fit-content;
}
.blog .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 25px;
  margin-top: 79px;
  position: relative;
}
.blog .card {
  min-height: 424px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog .card img {
  width: 100%;
}
.blog .card div.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.blog .card div.title h4 {
  font-size: var(--txt-xs);
  font-weight: 700;
  margin: 0;
  line-height: 36px;
}
.blog .card div.title p {
  position: relative;
  right: 10px;
  font-size: var(--txt-xs);
  color: var(--gray);
  font-weight: 400;
  line-height: 28px;
}
.blog .card p.desc {
  width: 300px;
  font-size: var(--txt-s);
  color: var(--gray);
  line-height: 32px;
  hyphens: auto;
  margin: 0;
  margin-bottom: 10px;
}
.blog .card .author {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog .card .author img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  object-position: center top;
  border-radius: 50%;
}
.blog button.btn--large {
  width: fit-content;
  position: absolute;
  left: 50%;
  bottom: -100px;
  transform: translateX(-50%);
}
/* End Blog Styles */

/* Start NewsLetter Styles */
.newsletter {
  margin-top: 224px;
}
.newsletter .container {
  background-color: var(--dark-blue);
  position: relative;
  height: 391px;
  border-radius: 12px;
  overflow: hidden;
}
.newsletter .container::before {
  content: "";
  background-color: var(--circle-color);
  width: 1293px;
  aspect-ratio: 1 / 1;
  position: absolute;
  right: -591px;
  top: -1039px;
  border-radius: 50%;
}
.newsletter .content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
.newsletter .content h2 {
  color: var(--white);
  font-size: var(--txt-xxl);
  font-weight: 400;
  font-family: var(--heading-font-family);
  text-align: center;
  width: 716px;
  line-height: 72px;
}
.newsletter .content form {
  display: flex;
  gap: 24px;
  width: 608px;
}
.newsletter .content form input {
  flex: 1;
  border-radius: 240px;
  font-size: var(--txt-s);
  color: #000000;
  border: 0;
  outline: 0;
  padding: 0 28px;
}
.newsletter .content form input::placeholder {
  color: #000000;
}
.newsletter .content form button {
  background-color: var(--green);
}
/* End NewsLetter Styles */

/* Start Footer Styles */
footer {
  margin-top: 84px;
  height: 474px;
  padding: 100px 0 117px 0;
  box-sizing: border-box;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container .col:first-child {
  width: 300px;
}
footer .container .col:first-child p.long,
footer .container .col:first-child p.short {
  font-size: var(--txt-xs);
  color: var(--gray);
  line-height: 28px;
}
footer .container .col:first-child p.long {
  margin-bottom: 72px;
}
footer .container .links-cols {
  display: grid;
  flex: 1;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
footer .container .links-cols .col {
  display: flex;
  justify-content: center;
}
footer .container .links-cols .col h4 {
  font-size: var(--txt-s);
  font-weight: 700;
  line-height: 32px;
}
footer .container .links-cols .col ul {
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
footer .container .links-cols .col ul li {
  font-size: var(--txt-s);
  color: var(--gray);
  line-height: 32px;
  cursor: pointer;
  transition: color 300ms linear;
  position: relative;
}
footer .container .links-cols .col ul li:hover {
  color: var(--green);
}
footer .container .links-cols .col ul li.badge::after {
  content: "Hiring!";
  background-color: var(--green);
  color: var(--dark-blue);
  width: 72px;
  height: 30px;
  border-radius: 120px;
  padding: 1px 14px;
  font-size: 13px;
  font-weight: 700;
  line-height: 28px;
  box-sizing: border-box;
  display: inline-block;
  margin-left: 5px;
  /* position: absolute;
  right: -10px; */
}
/* End Footer Styles */
